body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiBadge-colorPrimary {
  background-color: lighten('#1976D2', 0.5) !important;
}

.makeStyles-content-180 {
  padding: 0px 24px 24px 24px !important;
}

.card2 {
  margin-right: 5.9%;
  margin-left: 5.9%;
}
